In [1]:
# Import packages
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestRegressor
from IPython.display import clear_output

# Set working path
path = '/Users/martinbogaert/Desktop/NBA Data Analysis/nba_ai_awards/'

print('MAKE SURE YOU CHANGE THE WEEK VARIABLE')

MAKE SURE YOU CHANGE THE WEEK VARIABLE

In [2]:
week = 25 # CHANGE THIS
date = datetime.now().strftime('%d %B %Y')
time = datetime.now().strftime('%H:%M:%S')
print(date + ' ; ' + time)

11 April 2023 ; 13:28:20

# Features, model

In [3]:
features = ['VORP','WS','OWS','BPM','PER','PTS','FT','FTA','OBPM','FG','USG%','Seed','MP','GS']
model = RandomForestRegressor(n_estimators = 100, max_features = 'auto', min_samples_leaf = 2)

# Minimum minutes per game
mp = 10
# Propotion of maximum games played
gp = 1/3

In [4]:
# Load training data
train_data = pd.read_csv(path + 'Algorithm/mvp/mvp_data.csv')

# Load to-be-predicted data
data = pd.read_csv(path + f'Algorithm/weekly data/week_{week}.csv') 

# Load weekly info
with open(path + f'Algorithm/weekly data/week_{week}.txt', 'r') as file:
            date1 = file.readline().splitlines()[0][7:]
            date2 = file.readline().splitlines()[0][7:]
            n = int(file.readline()[12:])
            
season_progress = n / 15
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A,roy,smoy
0,A.J. Green,SG,23,MIL,35,1,9.9,1.5,3.6,0.424,...,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48,1,1
1,Bobby Portis,PF,27,MIL,70,22,26.0,5.7,11.5,0.496,...,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48,0,1
2,Brook Lopez,C,34,MIL,78,78,30.4,6.1,11.5,0.531,...,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48,0,0
3,Giannis Antetokounmpo,PF,28,MIL,63,63,32.1,11.2,20.3,0.553,...,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48,0,0
4,Goran Dragić,PG,36,MIL,58,0,15.0,2.4,5.8,0.421,...,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48,0,1

In [5]:
# Set training data
X_train = train_data[features]
y_train = train_data['Share']

# Set minimum requirements (games and minutes played)
data = data[data['MP'] >= mp] # Minimum of minutes per game
data = data[data['G'] >= season_progress * gp] # At least 1/3rd of max games played

pred = []
for step in range(0, 10) :
    print('Model ' + str(step+1) + '/10 ...')
    clear_output(wait = True)
    # Fit Machine Learning model
    model.fit(X_train, y_train)

    # Predict shares of test data
    pred.append(model.predict(data[features]))

Model 10/10 ...

In [6]:
# Assemble results DataFrame
res = data.assign(Share = [np.array(pred)[:,i].mean() for i in range(0, len(data))])
res = res.sort_values('Share', ascending = False) # Sort values by predictions
res['Rank'] = list(range(1, len(res)+1))
res['week'] = len(res) * [week] # Add week

res = res.reset_index(drop = True)[['Player' ,'Tm', 'PER', 'VORP', 'WS', 'PTS', 'Seed', 'Share']]
res.head()

,Player,Tm,PER,VORP,WS,PTS,Seed,Share
0,Nikola Jokić,DEN,31.5,10.457971,17.707246,24.5,1,0.835399
1,Giannis Antetokounmpo,MIL,29.0,7.028571,11.193651,31.1,1,0.685927
2,Joel Embiid,PHI,31.4,7.951515,15.281818,33.1,3,0.621720
3,Luka Dončić,DAL,28.7,8.200000,12.672727,32.4,11,0.377363
4,Shai Gilgeous-Alexander,OKC,27.2,6.752941,13.747059,31.4,10,0.291662

In [7]:
res.to_csv(path + f'Results/mvp/results_week_{week}.csv', index = None)