In [1]:
# Import packages
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestRegressor
from IPython.display import clear_output

# Set working path
path = '/Users/martinbogaert/Desktop/NBA Data Analysis/nba_ai_awards/'

print('MAKE SURE YOU CHANGE THE WEEK VARIABLE')

MAKE SURE YOU CHANGE THE WEEK VARIABLE

In [2]:
week = 24 # CHANGE THIS
date = datetime.now().strftime('%d %B %Y')
time = datetime.now().strftime('%H:%M:%S')
print(date + ' ; ' + time)

04 April 2023 ; 01:25:03

# Features, model

In [3]:
features = ['VORP','WS','OWS','BPM','PER','PTS','FT','FTA','OBPM','FG','USG%','Seed','MP','GS']
model = RandomForestRegressor(n_estimators = 100, max_features = 'auto', min_samples_leaf = 2)

# Minimum minutes per game
mp = 10
# Propotion of maximum games played
gp = 1/3

In [4]:
# Load training data
train_data = pd.read_csv(path + 'Algorithm/mvp/mvp_data.csv')

# Load to-be-predicted data
data = pd.read_csv(path + f'Algorithm/weekly data/week_{week}.csv') 

# Load weekly info
with open(path + f'Algorithm/weekly data/week_{week}.txt', 'r') as file:
            date1 = file.readline().splitlines()[0][7:]
            date2 = file.readline().splitlines()[0][7:]
            n = int(file.readline()[12:])
            
season_progress = n / 15
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A,roy,smoy
0,A.J. Green,SG,23,MIL,33,0,9.7,1.5,3.5,0.440,...,4.0,116.18,112.32,3.85,3.9,116.08,112.3,3.77,1,1
1,Bobby Portis,PF,27,MIL,67,20,25.9,5.6,11.3,0.499,...,4.0,116.18,112.32,3.85,3.9,116.08,112.3,3.77,0,1
2,Brook Lopez,C,34,MIL,76,76,30.3,6.0,11.4,0.528,...,4.0,116.18,112.32,3.85,3.9,116.08,112.3,3.77,0,0
3,Giannis Antetokounmpo,PF,28,MIL,62,62,32.1,11.3,20.4,0.553,...,4.0,116.18,112.32,3.85,3.9,116.08,112.3,3.77,0,0
4,Goran Dragić,PG,36,MIL,55,0,14.7,2.4,5.6,0.421,...,4.0,116.18,112.32,3.85,3.9,116.08,112.3,3.77,0,1

In [5]:
# Set training data
X_train = train_data[features]
y_train = train_data['Share']

# Set minimum requirements (games and minutes played)
data = data[data['MP'] >= mp] # Minimum of minutes per game
data = data[data['G'] >= season_progress * gp] # At least 1/3rd of max games played

pred = []
for step in range(0, 10) :
    print('Model ' + str(step+1) + '/10 ...')
    clear_output(wait = True)
    # Fit Machine Learning model
    model.fit(X_train, y_train)

    # Predict shares of test data
    pred.append(model.predict(data[features]))

Model 10/10 ...

In [6]:
# Assemble results DataFrame
res = data.assign(Share = [np.array(pred)[:,i].mean() for i in range(0, len(data))])
res = res.sort_values('Share', ascending = False) # Sort values by predictions
res['Rank'] = list(range(1, len(res)+1))
res['week'] = len(res) * [week] # Add week

res = res.reset_index(drop = True)[['Player' ,'Tm', 'PER', 'VORP', 'WS', 'PTS', 'Seed', 'Share']]
res.head()

,Player,Tm,PER,VORP,WS,PTS,Seed,Share
0,Nikola Jokić,DEN,31.9,10.770149,18.358209,24.9,1,0.850798
1,Giannis Antetokounmpo,MIL,29.2,7.141935,11.374194,31.1,1,0.694593
2,Joel Embiid,PHI,31.2,7.815625,15.118750,33.0,3,0.566138
3,Luka Dončić,DAL,28.8,8.328125,12.812500,32.8,11,0.375258
4,Jayson Tatum,BOS,23.8,5.808333,11.844444,30.3,2,0.361205

In [7]:
res.to_csv(path + f'Results/mvp/results_week_{week}.csv', index = None)